<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <h1 class="container-fluid">Welcome to Amadon!</h1>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                {% for item in fill %} 
                <form action="/purchase" method="post">
                {% csrf_token %}
                <td>{{ item.item}}</td>
                <td>${{ item.price}}</td>
                <td><select name="qty">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type='submit'>Buy</button>
                </td>
            </tr>
            </form>
            {% endfor %}
        </table>
    </body>
</html>